/* ? HEADER STYLE RULES */

header {
	max-width: 100%;
	background: var(--HERO-BG);
}

/* * NAVIGATION SECTION STYLE */

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 3.2rem;
}

.nav_container__content {
	list-style-type: none;
	display: flex;
	gap: 4rem;
	align-items: center;
}

.nav_container li {
	font-size: 1.6rem;
	font-weight: 600;
}

img[alt="mode"] {
	background: #111729;
	padding: 0.3rem 0.6rem;
	display: grid;
	place-items: center;
}

.nav_container__buttons button {
	display: none;
}

/* * BANNER SECTION STYLE */

.banner {
	padding: 6rem 3.2rem 4rem;
}

.banner_container {
	display: flex;
	align-items: center;
	gap: 10rem;
}

.banner_container__content h1 {
	font-size: 6.8rem;
	font-weight: 700;
	margin: 1rem 0 2rem;
	line-height: 1.5;
}

.banner_container__content h3 {
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
}

.banner_container__content p {
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 500;
	margin: 2rem 0;
}

.banner_container__content___buttons,
.banner_container__content___benefits {
	display: flex;
	align-items: center;
	gap: 3rem;
	margin: 3rem 0;
}

.banner_container__content___benefits figure {
	display: flex;
	font-size: 1.4rem;
	align-items: center;
	gap: 0.5rem;
}

.banner_container__content___buttons button:nth-child(1) {
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	background: var(--BUTTON-COLOR);
	padding: 1.5rem;
	border-radius: 1rem;
}

.banner_container__content___buttons button:nth-child(2) {
	font-size: 1.8rem;
	text-decoration: underline;
	font-weight: 700;
	color: var(--BUTTON-COLOR);
}

.banner_container__content___benefits figure ion-icon {
	background: #fff;
	color: #4ca154;
	border-radius: 50%;
}

.banner_container__content___benefits figure figcaption {
	font-size: 1.6rem;
	font-weight: 500;
}
